<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funko Collectibles</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <nav id="main-nav">
        <ul>
            <li><a href="/news">News</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">My Profile</a></li>
        </ul>
    </nav>
</header>

<main>
    <section id="latest-news">
        <h2>Latest News</h2>
        <article th:each="n : ${news.subList(0, 3)}">
            <h3 th:text="${n.getName()}">value</h3>
            <p th:text="${n.getContent()}"> value</p>
            <a href="#">Read More</a>
        </article>
    </section>
</main>

<footer id="site-footer">
    <p>&copy; 2024 Funko Collectibles. All rights reserved.</p>
</footer>
</body>
</html>

